{% load staticfiles %}
<html>
    <head>
        <title>THE BEST DAMN BLOG FOREVER</title>
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1 id="header"><a href="/">THIS IS THE BEST DAMN BLOG LOVE US</a></h1>
            {% if user.is_authenticated %}
                <ul class="top-menu">
                    <li><a href="{% url 'post_new' %}">+</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Log Out</a></li>
                </ul>
            {% endif %}
        </div>
        <div class="content container">
                {% block content %}

                {% endblock %}
        </div>
    </body>
</html>