{% extends 'blog/base.html' %}
{% load avatar_tags %}

{% block content %}
    <div class="post">
        {% if post.publish_date %}
            <div class="date">
                {{ post.publish_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {% avatar post.author %}
        <p class="author">Author: {{ post.author }}</p>
        <p>{{ post.markdown_message|linebreaksbr }}</p>
        {{ edit }}
        {% if user.is_authenticated %}
            {% ifequal notnew 'yes' %}
                <p><a href="{% url 'post_edit' pk=post.pk %}" class="top-menu">EDIT POST</a></p>
                <p><a href="{% url 'post_delete' pk=post.pk %}">DELETE POST</a></p>
            {% endifequal %}
        {% endif %}
    </div>

{% endblock %}