div, body, p, a{
    padding: 0px;
    font-family: 'Kaushan Script', cursive;
    color: black;


}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size 30px;
    font-weight: bold;
}

.page-header{
    background-color: orange;
    padding: 10px 0 5px 0;
}


#header{
    display: inline;

}

.top-menu{
    float: right;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding-right: 0;

}

.top-menu li{
    display: inline;
    float: left;
    padding-right: 5px;
}