div, body, p, a{
    padding: 0px;
    font-family: 'Krona One', sans-serif;
    color: black;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h2{
    font-size 30px;
    font-weight: bold;
}

.page-header{
    background-color: orange;
    padding: 10px 0 5px 0;
}

#top-menu{
    float: right;
}

#top-menu img{
    width: 50px;
    height: 50px;
    display: inline;
}

#top-menu p{
    display: inline;
    font-size: 20px;

}

#header{
    display: inline;
    line-height: 1.15;
}

.page-header ul{
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding-right: 0;

}

.page-header li{
    display: inline;
    float: left;
    padding-right: 5px;
}

.post, .account, .edit, .reset{
    border: 2px solid black;
    background: orange;
    padding: 5px;
    margin: 5px;
}

.post *{
    padding: 5px;
}

.post .author{
    border-bottom: 2px solid black;
    display: inline;
}